<% provide(:title, @user.username) %>
<div class="row">
 
  
  <div class="col-md-12">
    <h1> <%= @user.username %></h1>
    <h2> <%= @user.email %></h2>
    <hr />
    <div class="events">
    <% if @user.events.any? %>
     
      <h1>Created Events </h1>
      <% @user.events.each do |event| %>
        <p>
          <p><%= link_to  event.location, event %></p>
          <p><%= event.date.strftime("%B %d, %Y") %></p>
          <p><%= event.description%></p>
        </p>
        <hr />
      <% end %>
    <% else %>
        <h3><%= @user.username %> has not created any events</h3>
     <% end %>
     
     
    <% if @user.invites.any?  %>
       <% if  @upcoming_events.any? %>
         <h1>Upcoming Events</h1>
         <% @upcoming_events.each do |invite| %>
            <p>
          <p><%= link_to  invite.location, invite %></p>
              <p><%= invite.date.strftime("%B %d, %Y") %></p>
              <p><%= invite.description%></p>
            </p>
            <hr />
          <% end %>
        <% end %>
       <% if  @prev_events.any? %>
       <h1>Past Events</h1>
       <% @prev_events.each do |invite| %>
          <p>
            
             <p><%= link_to  invite.location, invite %></p>
               <p><%= invite.date.strftime("%B %d, %Y") %></p>
              <p><%= invite.description%></p>
          </p>
          <hr />
        <% end %>
      <% end %> 
    <% else %>
          <h3><%= @user.username %> is not attending any events</h3>
    <% end %>
  </div>
  
</div>
